server:
 port: 8888

spring:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/abinashdas2233/Microservice_project/tree/main/UserService_demo_for_configuration
          default-label: main
          clone-on-start: true 
          search-paths: UserService_demo_for_configuration